html, body {
    margin:auto; 
    width:900px;
    background-image: url(images/bg.jpg);
    background-size: cover;

 }

 * {
    box-sizing: border-box;
    
  }

.marco{
    width: 700px;
    padding: 50px;
    margin: auto; /*checar margen arriba y abajo*/
    border: 10px solid #DEB7E8;
    border-radius: 50px;
    background-color: #efe7f8;
   /* column-count: 2;
    column-gap: normal;*/

}

.contenido{
    display: inline-block;
 
}

.texto{
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding-top: 5px;;
    padding-bottom: 10px;
    padding-left: 25px;
    text-align: center;
    width: 100%;
    color: #000000; 

}

.datos{
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align:center;
    color: #000000;   
    border: 5px solid #DEB7E8;
    border-radius: 20px;
    background-color:#FFFF;
    width: 60%;
    display: inline-block;

}

input[type="text"] {
    background-color: #DEB7E8;
    border: 1px solid #6A2084;
    width: 100%;
    padding: 1px 20px;
    margin: 8px 0;
    font-size:14px;
    font-weight: normal;
    font-family: "Lucida Console", "Courier New", monospace;
  }

.btn{
  background-color: #DEB7E8;
  border: 1px solid #6A2084;
  border-radius: 8px;
  color: #721182;
  font-size: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: normal;
  padding: 15px;  
  margin-top: 20px;
  text-align: center;

}
  
 .titulo{
    position: relative;/*checar bien position*/
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    padding: 5px;
    margin-right: 0%;
    background-color: #FFFF; 
    color:#bf7fcf;
    border-radius: 50px;
    box-sizing: content-box;
  
    /*puedo ponerle un contenedor que se oalargue todo el bloque*/
}

img { 
    border-radius: 50px; /* sirve para redondear las esquinas*/
    width: 35%;
    padding:0px;
    display: inline-block;
    margin-left: 20px;
}


