html, body {
    margin:auto; 
    width:900px;
    background-image: url(images/bg.jpg);
    background-size: cover;
    display: block;

 }

 * {
    box-sizing: border-box;
  }

.marco{
    width: 700px;
    padding: 50px;
    margin: auto; /*checar margen arriba y abajo*/
    border: 10px solid #DEB7E8;
    background-color: #efe7f8;
    column-count: 2;
    column-gap: normal;

}

.izquierda{
    display: block;
 
}

.texto{
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: center;
    width: 100%;
    color: #000000;    
}

.datos{
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align:center;
    margin: auto;
    padding-bottom: 10%;
    width: 80%;
    box-sizing: content-box;
    color: #000000;   
    border: 5px solid #DEB7E8;
    background-color:#FFFF;
}

input[type="text"] {
    background-color: #DEB7E8;
    width: 100%;
    padding: 1px 20px;
    margin: 8px 0;
    font-size:14px;
    font-weight: normal;
    font-family: "Lucida Console", "Courier New", monospace;
  }

.btn{
  background-image: radial-gradient(#DEB7E8,  #a43db4);
  border: 1px solid #6A2084;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: normal;
  padding: 15px;  
  margin-top: 20px;
  text-align: center;

}

.derecha{
    display: block;

}

  
 .titulo{
    position: relative;/*checar bien position*/
    width: 80%;
    height: 80%;
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    padding: 5%;
    margin: auto;
    background-image: radial-gradient(circle, #C05EC9, #d7bde2); 
    color: #721182;
    /*puedo sacarla hacia box marco en la parte sup. y pomerle un contenedor que se oalargue todo el bloque*/
}

img {
    border-radius: 20px; /* sirve para redondear las esquinas*/
    width: 80%;
    padding:50px;
    margin: auto;
    box-sizing: content-box;/*por qué necesito content box en*/
    
}


